@model MyCommunity.ViewModels.CreateGroupViewModel

<script>
    $("#submitGroup").button().click( function(event) {
        event.preventDefault();
        var name = $("#Name").val();
        var description = $("#Description").val();
        var isPublic = $("#IsPublic").is(':checked');
        
        $.ajax({
            type: "POST",
            url: "/Home/CreateGroup",
            data: { "name": name, "description":description },
            success: function (data) {
                
                if (data.state == "Success") {
                    $("#newGroupPopup").dialog("close");
                    $(location).attr("href", data.additional);
                }
                else {
                    alert(data.additional);
                }
            },
            error: function(data) {
                $(this).closest("#newGroupPopup").dialog("close");
            }
        });
    });
</script>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Create Group</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name)
            </li>
            <li>
                @Html.LabelFor(m => m.Description)
                @Html.TextAreaFor(m => m.Description)
            </li>
            <li>
                @Html.LabelFor(m => m.IsPublic)
                @Html.CheckBoxFor(m=>m.IsPublic)

            </li>
        </ol>
        <input id="submitGroup" type="submit" value="Save" />
    </fieldset>
}


