@model MyCommunity.ViewModels.BrowseGroupsViewModel
<script>
    $(function () {
        $("#newGroupPopup").dialog({
            autoOpen: false,
            modal: true,
            width: 569,
            height: 382,
            title: "Create a group",
            open: function (event, ui) {
                $(this).load("@Url.Action("CreateGroupPartial")");
            }
        });
            $("#newGroupButton").button().click(function () {
                $("#newGroupPopup").dialog("open");
            });
        });
</script>
@{
    ViewBag.Title = "Public Groups";
}
<table style="width:100%">
    <tr>
        <td>
            <h2>Public Groups</h2>
        </td>
        <td >
            <button style="float:right" id="newGroupButton">Create Group</button>
        </td>
    </tr>
</table>


@foreach (var camp in Model.Groups)
{
    <div class="ui-corner-all" style="border:1px solid darkgray;padding:5px;margin-top:3px;">
        <h3>@Html.ActionLink(@camp.Name,"Group",new {id=camp.Id})</h3>
        
        <p>(@camp.Members.Count.ToString() members)</p>
        <p>@camp.Description</p>
        
    </div>
}

<div id="newGroupPopup" title="Dialog Title"></div>