@model MyCommunity.ViewModels.IndexViewModel

<script>
    $(function() {
        $('#mnu').accordion({
            heightStyle: "content",
            collapsible:true
        });
        $('#submit').button().click(function (event) {
            var comment = $("#comment").val();
            $.ajax({
                url: "/Home/Comment",
                type: "POST",
                data: { "comment": comment },
                success: function (data) {
                    var els = $("#comments").find('div');
                    if (els.length > 4) {
                        els.last().remove();
                    }
                    
                    $('#comments').prepend(data );
                        $("#comment").val(null);
                   
                },
                error: function (data) {
                    alert('Oops. Something wnet wrong!');
                }
            });
            return false;
        });

    });



   
</script>
 

@{
    ViewBag.Title = @Model.CommunityName;
}
<table>
    <tr>
        <td style="width:300px;vertical-align:top;">
    <div id="mnu">
        <h3>@Html.ActionLink("My Messages", "Messages")</h3>
        <div>
            @if (Model.Messages.Count == 0)
            {
                <p>You don't have any new message.</p>
            }
            else
            {
                foreach (var group in Model.Messages)
                {
                    <p >@Html.ActionLink(group.Value, "Messages")</p>
                }
            }
                
                
                <p style="float:right">@Html.ActionLink("Browse", "Messages")</p>
        </div>
        <h3>@Html.ActionLink("My Councillors", "Councillors")</h3>
        <div>
            <p>
              Contact community contact to update or add councillors    
            <p>

        </div>
        <h3>@Html.ActionLink("My MP", "MP")</h3>
        <div>
            <p>
              Contact community contact to update or add MPs    
            <p>
        </div>
        <h3>@Html.ActionLink("My Neighbours", "Neighbours")</h3>
        <div>
            <p>TBD</p>
        </div>
        <h3>Community Events</h3>
        <div>
                  @if (Model.Evts.Count == 0)
                  {
                      <p>You don't have any upcoming events.</p>
                  }
                  else
                  {

                      foreach (var group in Model.Evts)
                      {
                          <p >@Html.ActionLink(group.Value, "Event", new {id = group.Key})</p>
                      }
                  }
                
                
                <p style="float:right">@Html.ActionLink("Browse", "BrowseEvents")</p>
            
        </div>
        <h3>My Groups</h3>
        <div>
                            @if (Model.Groups.Count == 0)
                            {
                                <p>You have not joined any groups. Use the browse option to explore community groups to join.</p>
                            }
                            else
                            {

                                foreach (var group in Model.Groups)
                                {
                                    <p>@Html.ActionLink(group.Value, "Group", new {id = group.Key})</p>
                                }
                            }
                
                
            <p style="float:right">@Html.ActionLink("Browse", "BrowseGroups")</p>
            
        </div>
        <h3>My Campaigns</h3>
        <div>
            @if (Model.Campaigns.Count == 0)
            {
                <p>You have not joined any campaigns. Use the browse option to explore community campaigns to join.</p>
            }
            else
            {
                foreach (var campaign in Model.Campaigns)
                {
                    <p>@Html.ActionLink(campaign.Value, "Campaign", new {id = campaign.Key})</p>
                }
            }
            
                
            <p style="float:right">@Html.ActionLink("Browse", "BrowseCampaigns")</p>
        </div>
    </div>        
        </td>
        <td style="vertical-align:top" >
    @using (Html.BeginForm("Comment", "Home"))
    {
        @Html.AntiForgeryToken()

        <fieldset>
            <legend>Post a comment</legend>
            <ol>
                <li>
                    <textarea  name="comment " id="comment" rows="4" ></textarea>
                </li>
            </ol>
            <input id="submit" type="submit" value="Post" />
        </fieldset>
    }
    <div id="comments">
        @foreach (var comment in Model.Comments.Messages)
        {

            Html.RenderPartial("_MessagePartial", comment);

        }
    </div>            
        </td>
    </tr>
</table>    


    






