@model MyCommunity.ViewModels.IndexViewModel

<script>
    $(function () {
        $("#newGroupPopup").dialog({
            autoOpen: false,
            open: function (event, ui) {
                $(this).load("@Url.Action("CreateGroupPartial")");
            }
        });
        $("#newGroupButton").button().click(function () {
            $("#newGroupPopup").dialog("open");
        });
    });
    $(function () {
        $("#newEventPopup").dialog({
            autoOpen: false,
            open: function (event, ui) {
                $(this).load("@Url.Action("CreateEventPartial")");
            }
        });
            $("#newEventButton").button().click(function () {
                $("#newEventPopup").dialog("open");
            });
        });
    $(function () {
        $("#newCampaignPopup").dialog({
            autoOpen: false,
            open: function (event, ui) {
                $(this).load("@Url.Action("CreateCampaignPartial")");
            }
        });
         $("#newCampaignButton").button().click(function () {
             $("#newCampaignPopup").dialog("open");
         });
     });
        $('#submitComment').live("click", function (event) {
            var comment = $("#comment").val();
            $.ajax({
                url: "/Home/Comment",
                type: "POST",
                data: { "comment": comment },
                success: function (data) {
                    if (data.state == "Success") {
                        $('#comments').prepend('<p>' + data.additional + '</p>');
                    }
                    else {
                        alert(data.additional);
                    }
                },
                error: function (data) {
                    alert('Oops. Something wnet wrong!');
                }
            });
            return false;
        });
</script>

@{
    ViewBag.Title = @Model.CommunityName;
}

<div id="menu">
    <p>@Html.ActionLink("My Home", "Index")</p>
    <p>@Html.ActionLink("My Messages", "Messages")</p>
    <p>@Html.ActionLink("My Councillors", "Councillors")</p>
    <p>@Html.ActionLink("My MP", "MP")</p>
    <p>@Html.ActionLink("My Neighbours", "Neighbours")</p>
    <p>Community Events</p>
    <ul>
        @foreach (var group in Model.Evts)
        {
            <li>@Html.ActionLink(group.Value, "Event", new { id = group.Key })</li>
        }
    </ul>
    <button id="newEventButton">Create Event</button>
    @Html.ActionLink("Browse", "BrowseEvents")
    <div id="newEventPopup" title="Dialog Title"></div>

    <p>My Groups</p>

    <ul>
        @foreach (var group in Model.Groups)
        {
            <li>@Html.ActionLink(group.Value, "Group", new { id = group.Key })</li>
        }
    </ul>
    <button id="newGroupButton">Create Group</button>
    @Html.ActionLink("Browse", "BrowseGroups")
    <div id="newGroupPopup" title="Dialog Title"></div>


    <p>My Campaigns</p>
    <ul>
        @foreach (var campaign in Model.Campaigns)
        {
            <li>@Html.ActionLink(campaign.Value, "Campaign", new { id = campaign.Key })</li>
        }
    </ul>
    <button id="newCampaignButton">Create Campaign</button>
    @Html.ActionLink("Browse", "BrowseCampaigns")
    <div id="newCampaignPopup" title="Dialog Title"></div>


</div>

<div id="homeBody">
    @using (Html.BeginForm("Comment", "Home"))
    {
        @Html.AntiForgeryToken()

        <fieldset>
            <legend>Post:</legend>
            <ol>
                <li>
                    <label>Comment</label>
                    <input type="text" name="comment " id="comment" />
                </li>
            </ol>
            <input id="submitComment" type="submit" value="Post" />
        </fieldset>
    }
    <div id="comments">
        @foreach (var comment in Model.Comments.Messages)
        {
            <p>
                @comment.Message
            </p>
        }
    </div>
</div>


