@model MyCommunity.ViewModels.NeighbourViewModel
<script>
    $(function() {
        $("#messagePopup").dialog({
            autoOpen: false,
            modal: true,
            width:289,
            height: 158,
            title:"Confirmation"
         });
        $('#submit').button().click(function (event) {
            var comment = $("#comment").val();
            $.ajax({
                url: "/Home/MessageNeighbour",
                type: "POST",
                data: { "comment": comment, "id": @Model.ID },
                success: function (data) {
                    $("#messagePopup").dialog("open");
                    $("#comment").val(null);
                },
                error: function (data) {
                    alert('Oops. Something wnet wrong!');
                }
            });
            return false;
        });

    });
    </script>
@{
    ViewBag.Title = "Neighbour";
}
<div id="messagePopup" title="Confirmation">
    <p>Your message has been delivered</p>
</div>
<h3>@Model.Name</h3>
<p>Address: @Model.Address</p>
<p>Currently active in @Model.Groups.ToString() groups and @Model.Campaigns.ToString() campaigns</p>


    @using (Html.BeginForm("MessageNeighbour", "Home", new {id=@Model.ID}))
    {
        @Html.AntiForgeryToken()

        <fieldset>
            <legend>Post a comment</legend>
            <ol>
                <li>
                    <textarea  name="comment " id="comment" rows="4" ></textarea>
                </li>
            </ol>
            <input id="submit" type="submit" value="Post" />
        </fieldset>
    }