@using MyCommunity.ViewModels.Event
@model MyCommunity.ViewModels.Event.BrowseEventsViewModel
<script>
    $(function() {
        $("#newEventPopup").dialog({
            autoOpen: false,
            modal: true,
            width: 567,
            height: 466,
            title: "Create an event",
            open: function(event, ui) {
                $(this).load("@Html.Raw(Url.Action("CreateEventPartial", "Event", @Model.CreateEventModel))");
            }
        });
        $("#newEventButton").button().click(function() {
            $("#newEventPopup").dialog("open");
        });
    });
</script>
@{
    ViewBag.Title = "Communit Events";
}


<table style="width: 100%">
    <tr>
        <td>
            <h2>Community Events</h2>
        </td>
        <td >
            <button style="float: right" id="newEventButton">Create Event</button>
        </td>
    </tr>
</table>

@foreach (EventViewModel camp in Model.Events)
{
    <div class="ui-corner-all" style="border: 1px solid darkgray; margin-top: 3px; padding: 5px;">
        <h3>@Html.ActionLink(string.Format("{0} - {1}", @camp.Date, @camp.Name), "Event", new {id = camp.Id})</h3>
        <p>Location: @camp.Location</p>
        
        <p>@camp.Description</p>
        
    </div>
}


<div id="newEventPopup" title="Dialog Title"></div>